<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cong.fishisland.mapper.pet.ItemInstancesMapper">

    <resultMap id="BaseResultMap" type="com.cong.fishisland.model.entity.pet.ItemInstances">
        <id property="id" column="id"/>
        <result property="templateId" column="templateId"/>
        <result property="ownerUserId" column="ownerUserId"/>
        <result property="quantity" column="quantity"/>
        <result property="bound" column="bound"/>
        <result property="durability" column="durability"/>
        <result property="enhanceLevel" column="enhanceLevel"/>
        <result property="extraData" column="extraData"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,templateId,ownerUserId,quantity,bound,durability,
        enhanceLevel,extraData,createTime,updateTime,isDelete
    </sql>
</mapper>
